.history__table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 20px 0 20px 0;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (max-width: 950px) {
  .history__table {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .history__table {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
  }
}

.history__table_row {
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.history__table_row_color {
  color: #21a038;
}

.history__table_link {
  color: #21a038;
  text-decoration: underline;
}

.history__table_span{
  display: none;
  color: black;
}

@media (max-width: 950px) {
  .history__table_span {
    display: inline;
  }
}