.history__item {
    display: flex;
    width: 100%;
    min-height: 80px;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 15px;
    gap: 70px;
    padding: 20px;
    box-sizing: border-box;
  }
    
  @media (max-width: 900px) {
    .history__item  {
      gap: 10px;
      flex-direction: column;
    }
  }
  
  .history__item:last-of-type {
    margin: 0;
  }
  
  .history__item_img {
    background-color: #21a038;
    border-radius: 10px;
  }
  
  .history__item_content {
    display: flex;
    padding: 15px 5px 12px 17px;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  
  .history__item_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }
  
  .history__item_text {
    max-width: 260px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

  }
  
  .history__item_width {
    font-weight: 600;
    min-width: 110px;
    
  }
  
  .history__item_span {
    color: #21a038;
  }
  
  .history__item_button {
    all: unset;
    cursor: pointer;
    width: 179px;
    height: 37px;
    border: 2px solid #21a038;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #21a038;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
  }
  
  .history__item_button:hover {
    background-color: #21a038;
    color: #fff;
  }
  
  @media (max-width: 900px) {
    .history__item_button {
      width: 90%;
      margin: 0 auto 20px ;
    }
  }