.page {
  width: 100%;
  margin-top: 20px;
}

.order_title {
  color: rgba(39, 35, 35, 1);
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}

.order {
  margin-top: 15px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.order_text {
  color: rgba(141, 141, 141, 1);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.order_span {
  color: #21a038;
}

.title_wrapper {
  display: flex;
  align-items: end;
}

.title {
  margin-top: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.subtitle {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #21a038;
  margin-left: 5px;
}

.wrapper {
  display: flex;
  margin-top: 10px;
  gap: 15px;
  position: relative;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
  }
}

.items {
  max-width: 790px;
  position: relative;
}

.item {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

@media (max-width: 600px) {
  .item {
    gap: 10px;
  }
}

@media (max-width: 470px) {
  .item {
    flex-direction: column;
  }
}

.item_image {
  background-color: rgba(246, 246, 246, 1);
  width: 200px;
  height: 150px;
  object-fit: contain;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .item_image {
    width: 160px;
    height: 120px;
  }
}

.item_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 20px 0 20px;
  box-sizing: border-box;
  gap: 10px;
}

@media (max-width: 1200px) {
  .item_wrapper {
    padding: 20px;
  }
}

@media (max-width: 730px) {
  .item_wrapper {
    flex-wrap: wrap;
    padding: 10px;
  }
}

.item_name {
  color: rgba(39, 35, 35, 1);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

@media (max-width: 950px) {
  .item_name {
    font-size: 16px;
    line-height: 20px;
  }
}

.item_summ {
  color: rgba(33, 160, 56, 1);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.total {
  width: 350px;
  /*height: 392px;*/
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.5);
  border-radius: 10px;
  padding: 19px 27px 33px;
  box-sizing: border-box;
  background-color: #fff;
}

@media (max-width: 730px) {
  .total {
    width: 100%;
  }
}

.total_wrapper {
  display: flex;
  justify-content: space-between;
}

.total_title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 20px;
}

.total_title_color {
  color: #21a038;
}

.total_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.total_text_weight {
  font-weight: 600;
}

.total_wrapper_margin {
  margin-bottom: 12px;
}

.total_button {
  all: unset;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #fc231b;
  width: 100%;
  height: 70px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_items_loading_container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.buy {
  display: flex;
  flex-direction: column;
  width: 285px;
  border-radius: 10px;
  box-sizing: border-box;
  gap: 20px;
  position: absolute;
  top: -90px;
  right: 0;
}

@media (max-width: 1200px) {
  .buy {
    position: static;
    margin-top: 15px;
    width: 382px;
  }
}

@media (max-width: 600px) {
  .buy {
    width: 100%;
  }
}

.buy_total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buy_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  font-family: "Montserrat";
}

.buy_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buy_contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots {
  flex-grow: 1;
  overflow: hidden;
  color: rgba(39, 35, 35, 1);
  letter-spacing: 2px;
  font-size: 14px;
  white-space: nowrap;
}

.buy_subtitle {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgba(39, 35, 35, 1);
  text-wrap: nowrap;
}

.buy_sum {
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  color: #21a038;
  font-family: "Inter";
}

.buy_button {
  width: 100%;
  height: 45px;
  background-color: rgba(217, 22, 46, 1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
