.dropdown_catalog {
    all: unset;
    width: 195px;
    height: 35px;
    margin: 0;
    color: rgba(39, 35, 35, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Roboto';
    cursor: pointer;
  } 
  
  .dropdown_catalog:hover {
    color: rgba(33, 160, 56, 1);
  }
  
  .dropdown_catalog_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown_catalog_quantity {
    min-width: 30px;
    height: 18px;
    border: 1px solid #7C7C7C;
    margin-left: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_catalog_quantity_text {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: #818181;
    font-family: 'Roboto';
  }