.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}

.image {
  border-radius: 10px 10px 0 0;
  background-color: #21a038;
  width: 100%;
  object-fit: contain;
  height: 150px;
}
            
@media (max-width: 760px) {
  .image {
    height: 100px;
  }
}
            
@media (max-width: 460px) {
  .image {
    height: 150px;
  }
}

.info {
  margin: 0;
  width: 100%;
  /* height: 125px; */
  border-radius:  0 0 10px 10px;
  padding: 13px 14px;
  box-sizing: border-box;
}

.name{
  width: 225px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family: 'Roboto';
}

@media (max-width: 760px) {
  .name {
    max-width: 100%;
  }
}

.wrraper {
  display: flex;
  margin: 7px 0 0 0;
  justify-content: space-between;
}

@media (max-width: 760px) {
  .wrraper {
    flex-direction: column;
  }
}

@media (max-width: 460px) {
  .wrraper {
    flex-direction: row;
    align-items: center;
  }
}

.content {
  display: flex;
}

@media (max-width: 760px) {
  .content {
    justify-content: space-between;
  }
}

.text{
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #21a038;
  font-family: 'Inter';
}

.price{
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  color: #21a038;
  font-family: 'Inter';
}

.action {
  display: flex;
}


.like {
  all: unset;
  cursor: pointer;
  margin-left: 15px;
}

.basket{
  width: 115px;
  height: 41px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 7px 8px;
  background: #21a038;
  cursor: pointer;
  border: none;
  justify-content: center;
}

@media (max-width: 760px) {
  .basket {
    width: 100%;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 460px) {
  .basket {
    margin: 0;
  }
}

.basket_cursor {
  cursor: default;
  background-color: transparent;
  border: 1px solid #21a038;
}

.wrapper {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.basket_button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.basket_text {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
  margin: 0 0 0 8px;
  font-family: 'Roboto';
}

.basket_text_margin {
  margin: 0;
  font-size: 20px;
  color: #21a038;
}