.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  background-color: #fff;
}
/* 
.item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
} */

.button {
  all: unset;
  width: 100%;
  height: 250px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
            
/* @media (max-width: 760px) {
  .image {
    height: 100px;
  }
}
            
@media (max-width: 460px) {
  .image {
    height: 150px;
  }
} */

.info {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px 0 0;
  box-sizing: border-box;
}

.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-family: 'Montserrat';
  color: rgba(39, 35, 35, 1);
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 44px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .name {
    max-width: 100%;
  }
}

.availability {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #21a038;
  font-family: 'Inter';
  margin-top: 10px;
}

.price_action_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 15px;
}

.price{
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: rgba(39, 35, 35, 1);
  font-family: 'Montserrat';
  margin: 0;
}

.action {
  display: flex;
  flex: 1;
  max-width: 160px;
}

@media (max-width: 480px) {
  .price_action_row {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .action {
    max-width: 100%;
    width: 100%;
  }
}


.like {
  all: unset;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 160, 56, 0.25);
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
}