.details {
    width: 1214px;
    margin: 45px auto 0;
  }
  
  @media (max-width: 1250px) {
    .details {
      width: calc(100% - 40px);
    }
  }
  
  .title {
    margin: 0;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    font-family: 'Roboto';
  }
  
  .info {
    margin-top: 45px;
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  @media (max-width: 970px) {
    .info {
      margin-bottom: 270px;
      gap: 30px;
    }
  }

  @media (max-width: 720px) {
    .info {
      flex-direction: column;
      margin-bottom: 0;
    }
  }
  
  .container {
    width: 532px;
  }
    
  @media (max-width: 720px) {
    .container {
      width: 100%;
    }
  }

  .image_wrapper {
    position: relative;
    max-width: 532px;
  }
  
  @media (max-width: 720px) {
    .image_wrapper {
      max-width: 100%;
    }
  }
  
  .image {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    background-color: #21a038;
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  .image_left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .image_right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  
  .mini {
    position: absolute;
    display: flex;
    column-gap: 8px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
  }

  .mini_image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .mini_image_active {
    border: 1px solid #fff;
  }

  .wrapper {
    display: flex;
    margin-top: 18px;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 1150px) {
    .wrapper {
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }
  }
  
  .button_show {
    all: unset;
    cursor: pointer;
    display: flex;
    width: 190px;
    background-image: url(/images/Show_3D.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: end;
  }
  
  .button_show_text {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #209C36;
    margin-left: 10px;
    font-family: 'Futura';
  }
  
  .button_like {
    display: flex;
    background-color: #209C36;
    border-radius: 10px;
    width: 156px;
    height: 43px;
    align-items: center;  
    justify-content: center;
    border: none;
    cursor: pointer;
  }
  
  .button_not_like {
    background-color: white;
    border: 1px solid #209C36;
  }
  
  .button_like_text {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    color: #ffffff;
    margin-left: 15px;
    font-family: 'Roboto';
  }
  
  .button_not_like_text {
    color: #209C36;
  }
  
  .description {
    margin: 20px 0 0 52px;
  }
    
  @media (max-width: 1250px) {
    .description {
      margin: 20px 30px 0;
    }
  }
    
  @media (max-width: 970px) {
    .description {
      display: flex;
      gap: 10px;
      position: absolute;
      bottom: -210px;
      left: 0;
      margin: 0;
    }
  }
    
  @media (max-width: 720px) {
    .description {
      position: static;
    }
  }
    
  @media (max-width: 600px) {
    .description {
      width: 100%;
      justify-content: space-between;
    }
  }

  
  .description_text {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    max-width: 227px;
    font-family: 'Roboto';
  }
  
  .description_margin {
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .description_image {
    margin: 10px 0 0 -15px;
  }
    
  @media (max-width: 970px) {
    .description_image {
      margin: 0;
    }
  }
  
  .price {
    position: relative;
    margin-left: 8px;
    width: 397px;
    height: 337px;
  }
      
  @media (max-width: 720px) {
    .price {
      width: 100%;
      margin: 0;
    }
  }
  
  .price_buy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 185px;
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.5);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 10;
  }
  
  .price_buy_wrraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .price_buy_title {
    font-size: 37px;
    font-weight: 700;
    line-height: 43px;
    font-family: 'Inter';
  }
  
  .price_buy_width{
    width: 93px;
  }
  
  .price_buy_margin {
    margin-top: 11px;
  }
  
  .price_buy_like {
    all: unset;
    cursor: pointer;
  }
  
  .price_buy_text {
    font-size: 23px;
    font-weight: 500;
    line-height: 27px;
  }
  
  .price_buy_subtitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #21a038;
    font-family: 'Roboto';
  }
  
  .price_button {
    width: 100%;
    height: 41px;
    background-color: #21a038;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
  }
  
  .price_button_color{
    background-color: transparent;
    border: 1px solid #21a038;
  }
  
  .price_button_text{
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    color: #ffffff;
    margin: 0 0 0 9px;
    font-family: 'Roboto';
  }
  
  .price_button_text_color {
    color: #21a038;
  }
  
  .price_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 165px;
    border: 2px solid #21a038;
    border-radius: 0 0 15px 15px;
    border-top: 0;
    padding: 30px 0 25px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
  }
  
  .price_info_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin: 0 0 10px 0;
    font-family: 'Inter';
  }
  
  .price_info_text:last-of-type {
    margin-bottom: 0;
  }
  
  .price_info_text_weight {
    font-weight: 700;
  }
  
  .navigator{
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 130px);
  }
  
  @media (max-width: 1250px) {
    .navigator {
      width: 100%;
    }
  }
  
  @media (max-width: 1130px) {
    .navigator {
      gap: 10px;
      flex-wrap: wrap;
      justify-content: left;
    }
  }
  
  .navigator_button {
    width: 135px;
    height: 57px;
    border: 1px solid #21a038;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navigator_button_width {
    width: 200px;
  }
  
  .navigator_button_active {
    background-color: #21a038;
  }
  
  .navigator_text {
    font-size: 15px;
    font-weight: 700;
    line-height: 17;
    color: #1D1D1B;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
  }
  
  .navigator_text_active {
    color: #ffffff;
  }
  
  .show{
    margin: 55px 0 0 0;
  }
    
  @media (max-width: 1250px) {
    .show {
      width: 100%;
    }
  }

  .show_wrapper{
    position: relative;
  }

  .show_image{
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .show_button_left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 56px;
    height: 86px;
    background-color: rgba(33, 160, 56, 0.49);
    border-radius: 0 8px 8px 0;
    border: 0;
    cursor: pointer;
  }
  
  .show_button_right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 56px;
    height: 86px;
    background-color: rgba(33, 160, 56, 0.49);
    border-radius: 8px 0 0 8px;
    border: 0;
    cursor: pointer;
  }
  
  .swipe {
    width: 222px;
    height: 22px;
    margin: 35px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .swipe_circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #D9D9D9;
  }
  
  .swipe_circle_active {
    background-color: #21a038;
  }

  .selected_image {
    cursor: pointer;
  }