.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    gap: 10px;
    margin: 20px auto 0;
}
            
@media (max-width: 900px) {
  .items {
    width: calc(100% - 80px);
  }
}
            
@media (max-width: 760px) {
  .items {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
            
@media (max-width: 460px) {
  .items {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 3px;
  }
}