.personal_data {
  width: 440px;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .personal_data {
    margin: 0;
    width: 100%;
  }
}

.personal_data__content {
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 13px;
  justify-content: space-between;
  gap: 20px;
}

.personal_data__input {
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 1);
  border: none;
  border-radius: 4px;
  padding: 11px 12px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
}

.personal_data__input:focus {
  outline: none;
  color: #000;
}

@media (max-width: 860px) {
  .personal_data__input {
    width: 100%;
  }
}

.personal_data__button {
  all: unset;
  background-color: #21a038;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  margin-top: 20px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  padding-block: 13px;
  cursor: pointer;
}
