.details {
  width: 100%;
  margin: 45px auto 0;
}

.title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
  width: calc(100% - 100px);
  margin-inline: auto;
}

@media (max-width: 550px) {
  .title {
    font-size: 20px;
  }
}

@media (max-width: 1250px) {
  .title {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1250px) {
  .description {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  .description {
    flex-direction: column;
  }
}

.description_image {
  width: 720px;
  height: 480px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 950px) {
  .description_image {
    width: 100%;
    height: auto;
  }
}

.description_container {
  margin: 20px auto 0;
  display: flex;
  width: calc(100% - 100px);
}

@media (max-width: 950px) {
  .description_container {
    width: 100%;
    height: auto;
  }
}

.description_paragraph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  max-width: 900px;
}

.description_wrapper {
  display: flex;
  justify-content: space-between;
}

.description_button {
  all: unset;
  cursor: pointer;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  color: #525252;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17.5px;
  line-height: 21px;
}

.description_button_green {
  border: none;
  background-color: #21a038;
  color: #fff;
}

.paragraph {
  width: 100%;
  margin-top: 50px;
}

.paragraph_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #747474;
}

.paragraph_text_margin {
  margin-bottom: 20px;
}

.photo {
  width: 100%;
  height: auto;
}

.photo_title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border-radius: 5px;
  margin-left: 20px;
}

.photo_wrapper {
  position: relative;
  margin-top: 35px;
}

.photo_image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

.photo_button_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.photo_button_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.swipe {
  margin-top: 20px;
}

.swipe_circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.swipe_circle_active {
  background-color: #21a038;
}

.video {
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.5);
  padding: 40px 0;
  box-sizing: border-box;
  margin-top: 50px;
}

.video_title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border-radius: 5px;
  margin-left: 20px;
}

.video_wrapper {
  position: relative;
  margin-top: 35px;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.vector_right {
  transform: rotate(-90deg);
}

.vector_left {
  transform: rotate(90deg);
}