.details {
  width: 1214px;
  margin: 45px auto 0;
}

@media (max-width: 1250px) {
  .details {
    width: 100%;
  }
}

.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 40px;
}

@media (max-width: 550px) {
  .title {
    font-size: 20px;
  }
}

@media (max-width: 1250px) {
  .title {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }
}

.description {
  position: relative;
  display: flex;
}

@media (max-width: 1250px) {
  .description {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  .description {
    flex-direction: column;
  }
}

.description_image {
  width: 720px;
  height: 480px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 950px) {
  .description_image {
    width: 100%;
    height: auto;
  }
}

.description_container {
  margin: 27px 0 0 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .description_container {
    max-width: 540px;
    margin: 20px 0 0 0;
  }
}

.description_paragraph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  max-width: 407px;
}

.description_wrapper {
  display: flex;
  justify-content: space-between;
}

.description_button {
  all: unset;
  cursor: pointer;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  color: #525252;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17.5px;
  line-height: 21px;
}

.description_button_green {
  border: none;
  background-color: #21a038;
  color: #fff;
}

.paragraph {
  width: 100%;
  margin-top: 50px;
}

.paragraph_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #747474;
}

.paragraph_text_margin {
  margin-bottom: 20px;
}

.photo {
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.5);
  padding: 40px 20px;
  box-sizing: border-box;
  margin-top: 50px;
}

.photo_title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border-radius: 5px;
}

.photo_wrapper {
  position: relative;
  margin-top: 35px;
}

.photo_image {
  width: 100%;
  height: 524px;
  object-fit: contain;
  border-radius: 5px;
}

@media (max-width: 1150px) {
  .photo_image {
    height: 460px;
  }
}

@media (max-width: 800px) {
  .photo_image {
    height: 350px;
  }
}

@media (max-width: 550px) {
  .photo_image {
    height: 215px;
  }
}

@media (max-width: 400px) {
  .photo_image {
    height: 150px;
  }
}

.photo_button_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 56px;
  height: 86px;
  background-color: rgba(33, 160, 56, 0.49);
  border-radius: 0 8px 8px 0;
  border: 0;
  cursor: pointer;
}

.photo_button_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 56px;
  height: 86px;
  background-color: rgba(33, 160, 56, 0.49);
  border-radius: 8px 0 0 8px;
  border: 0;
  cursor: pointer;
}

.swipe {
  width: 163px;
  height: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swipe_circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.swipe_circle_active {
  background-color: #21a038;
}
