.price_buy_wrraper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    background-color: rgba(246, 246, 246, 1);
    padding-inline: 20px;
}

.price_buy_width{
    width: 93px;
}

.price_buy_like {
    all: unset;
    cursor: pointer;
}

.price_buy_text {
    font-size: 23px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(33, 160, 56, 1);
    font-family: 'Montserrat';
}


.basket{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 7px 8px;
    background: #21a038;
    cursor: pointer;
    border: none;
    justify-content: center;
}

/* @media (max-width: 760px) {
    .basket {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

@media (max-width: 460px) {
    .basket {
        margin: 0;
    }
} */



.basket_cursor {
    cursor: default;
    background-color: transparent;
    border: 1px solid #21a038;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    background-color: rgba(246, 246, 246, 1);
    padding-inline: 20px;
}

.basket_button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.basket_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    font-family: 'Montserrat';
}

.basket_text_margin {
    margin: 0;
    font-size: 20px;
    color: #21a038;
}

.name {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    align-items: center;
}

.quantity_button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #21A038;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Roboto';
    color:  rgba(39, 35, 35, 1);
}

.item_quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item_button {
    all: unset;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 160, 56, 1);
    border-radius: 50%;
}

.item_quantity_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Roboto';
    color: rgba(39, 35, 35, 1);
}

.clear {
    all: unset;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    font-family: 'Inter';
    color: #7b7b7b;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    gap: 5px;
}

.item_delete {
    all: unset;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 650px) {
    .item_delete {
        top: 0;

    }
}

.items_clear {
    all: unset;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
}

.items_clear_text {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Montserrat';
}

@media (max-width: 500px) {
    .items_clear_text {
        display: none;
    }
}