.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}

.content {
    width: 542px;
    background-color: #fff;
    position: absolute;
    top: 170px;
    right: 70px;
    z-index: 12;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.5);
    cursor: default;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

@media (max-width: 1250px) {
    .content {
     top: 200px;
     right: 40px;
    }
  }

@media (max-width: 460px) {
    .content {
      width: calc(100% - 10px);
    }
  }

.content.show {
    transform: translateX(0);
}

.title {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Roboto';
    width: 100%;
    color: rgba(39, 35, 35, 1);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.close {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.items {
    overflow-y: auto;
    max-height: 360px;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items::-webkit-scrollbar {
    width: 10px;
}

.items::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.items::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.item {
    display: flex;
}

.image {
    width: 140px;
    height: 130px;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 4px;
}

.wrapper {
    padding: 15px 8px 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #000;
    border-left: none;
    border-right: none; */
    flex: 1;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    font-family: 'Roboto';
    color: rgba(39, 35, 35, 1);
    text-align: left;
}

.quantity_button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.quantity {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-family: 'Roboto';
    color: #21A038;
    margin: 0 25px;
}

.summ {
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Montserrat';
    color: #21A038;
}

.total {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    /* padding: 0 15px 0 21px; */
}

.total_text {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    font-family: 'Inter';
    color: #484848;
}

.total_span {
    color: #21A038;
}

.button {
    all: unset;
    cursor: pointer;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Montserrat';
    color: #fff;
    background-color: #21A038;
    border-radius: 4px;
}

/* .button_white {
    border: 2px solid #21A038;
    color: #21A038;
    background-color: #fff;
} */