.politics {
    width: 1214px;
    margin: 45px auto 0;
}

.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 33px;
    line-height: 38px;
    margin-bottom: 45px;
}

.subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    max-width: 800px;
}