:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* --foreground: #ededed; */
    --foreground: #0a0a0a;
  }
}

html,
body {
  max-width: 1440px;
  overflow-x: hidden;
  margin: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/** DASHBOARD **/

.dashboar {
  display: flex;
  margin: 0 0 0 32px;
  max-width: 100%;
  height: 77px;
  align-items: center;
}

.location {
  display: flex;
  margin-left: 59px;
  align-items: center;
}

.location__text {
  margin: 0 4px 0 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: 'Roboto';
}

.number {
  display: flex;
  margin-left: 70px;
  align-items: center;
}

.number__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 12px 0 0;
  font-family: 'Roboto';
}

.search {
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.search_input {
  background-color: transparent;
  border: 2px solid #21a038;
  border-radius: 5px 0 0 5px;
  height: 33px;
  width: 311px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #0a0a0a;
  font-family: 'Roboto';
}

.search_input:focus {
  outline: none;
  border: 2px solid #21a038;
}

.search_input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-family: 'Roboto';
}

.search__button {
  margin-left: -3px;
  width: 58px;
  height: 33px;
  background-color: #21a038;
  border-radius: 5px;
  border-color: #21a038;
  border-style: solid;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  font-family: 'Roboto';
}

.search__button:hover {
  background-color: #ffffff;
  color: #21a038;
}

.user {
  display: flex;
  margin-left: 46px;
  align-items: center;
}

.user__text {
  margin: 0 0 0 11px;
  color: #21a038;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  font-family: 'Roboto';
}

.dashboar__basket {
  display: flex;
  align-items: center;
  margin: 0 0 0 35px;
}

.dashboar__basket_container {
  margin: 0 0 0 12px;
}

.dashboar__bascet_text {
  margin: 0;
  color: #21a038;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  font-family: 'Roboto';
}

.dashboar__bascet_info {
  color: #21a038;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  margin: 0;
  font-family: 'Roboto';
}

.navigator{
  max-width: 1214px;
  height: 50px;
  margin: 0 auto;
  background-color: #21a038;
  border-radius: 5px;
  position: relative;
}

.navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigator__container{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigator__container:last-of-type {
  margin-right: 50px;
}

.navigator__container_white {
  background-color: #ffffff;
  padding-left: 16px;
  width: 135px;
  height: 50px;
  border: 3px solid #21a038;
  border-radius: 5px;
}

.navigator__container_white:hover {
  border: none;
  box-shadow: inset 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px  5px 0 0;
  height: 53px;
}

.navigator__text{
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
  margin: 0 8px 0 0;
  font-family: 'Roboto';
}

.navigator__text_white{
  color: #21a038;
  margin: 0 0 0 6px;
}

.navigator__wrapper{
  display: flex;
  width: 1214px;
  margin: 20px auto 0;
}

.navigator__back{
  display: flex;
  margin-right: 15px;
}

.navigator__back_button{
  all: unset;
  cursor: pointer;
}

.navigator__back_text{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 0 7px;
  cursor: pointer;
  font-family: 'Roboto';
}

/**FOOTER**/

.footer {
  width: 100%;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  margin-top: 140px;
}

.footer__container {
  width: 1129px;
  height: 345px;
  margin: 66px auto;
  display: flex;
}

.footer__contact{
  margin-right: 190px;
}

.footer__contact_wrraper{
  margin-top: 50px;
}

.footer__contact_text{
  margin: 0 0 15px 0;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  width: 342px;
  font-family: 'Roboto';
}

.footer__contact_text:last-child{
  margin: 0;
}

.footer__contact_social{
  margin: 50px 0 0;
  width: 256px;
  display: flex;
  justify-content: space-between;
}

.footer__contact_icon{
  cursor: pointer;
}

.footer__contact_text_last{
  margin-top: 30px;
  width: 221px;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Roboto';
}

.footer__wrraper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__info_title{
  margin: 0;
  color: #21a038;
  font-size: 23px;
  font-weight: 700;
  line-height: 26px;
  font-family: 'Roboto';
}

.footer__info_wrraper{
  margin-top: 30px;
}

.footer__info_text{
  margin: 0 0 13px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-family: 'Roboto';
}

.footer__info_text:last-of-type{
  margin: 0;
}

/** FILTER **/

.filter {
  width: 1214px;
  margin: 45px auto 0;  
}

.filter__container {
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.filter__container_wrraper{
  display: flex;
  justify-content: space-between;
}

.filter__wrraper {
  display: flex;
  align-items: center;
  height: 34px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  padding: 7px 12px;
  box-sizing: border-box;
  margin-right: 22px;
}

.filter__wrraper:last-of-type {
  margin: 0;
}

.filter__text{
  margin: 0 6px 0 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  font-family: 'Roboto';
}

.filter__info_wrraper {
  display: flex;
}

.filter__info {
  display: flex;
  align-items: center;
  background-color: #21a038;
  max-width: 174px;
  height: 26px;
  border-radius: 4px;
  padding: 5px 6px 5px 9px;
  box-sizing: border-box;
  margin: 21px 18px 0 11px;
}

.filter__info_text{
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  margin: 0 8px 0 0;
  font-family: 'Roboto';
}

.filter_button{
  all: unset;
  cursor: pointer;
  width: 12px;
  height: 7px;
  background-image: url(/images/Vector_black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.filter_button_list {
  all: unset;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.filter__info_delete { 
  background-color: #828282;
  margin-left: 0;
}

.filter_button_dropdown {
  border-radius: 10px; 
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 273px;
  height: 163px;
  padding: 20px 13px 20px 20px;
  box-sizing: border-box;
  top: 30px;
  left: 0;
}

.filter_button_dropdown_container {
  display: flex;
  margin-top: 11px;
  justify-content: space-between;
  align-items: center;
}

.filter_button_dropdown_input {
  background-color: #fff;
  padding: 4px 0 6px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #21a038;
  width: 96px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-family: 'Roboto';
  color: #727272;
}

.filter_button_dropdown_input::placeholder {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-family: 'Roboto';
  color: #727272;
}

.filter_button_dropdown_input:focus {
  outline: none;
}

.filter_button_dropdown_line{
  height: 1px;
  width: 13px;
  border-bottom: 1px solid #21a038;
}

.filter_button_dropdown_botton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159px;
  height: 32px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 20px;
  font-family: 'Roboto';
  
}

.filter_button_dropdown_range {
  width: 100%;
}

.filter_button_dropdown_range_input {
  width: 100%;
}

.filter_button_dropdown_text {
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  font-family: 'Roboto';
  color: #B2B2B2;
}

/**PRODUCTS**/

.products{
  width: 1214px;
  margin: 20px auto 0;
}



.products__info_wrapper{
  display: flex;
  margin: 45px 0 0;
  align-items: center;
}

.products__title{
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 0 10px 0 0;
  font-family: 'Roboto';
}

.products__info{
  border: 1px solid #7C7C7C;
  border-radius: 3px;
  min-width: 30px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  box-sizing: border-box;
}

.products__info_text{
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin: 0;
  font-family: 'Roboto';
}

/** ITEMS **/

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    gap: 10px;
    width: 1214px;
    margin: 20px auto 0;
}

.item {
  width: 295px;
  height: 274px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}

.item__image {
  border-radius: 10px 10px 0 0;
  background-color: #21a038;
}

.item__info {
  margin: 0;
  width: 100%;
  height: 125px;
  border-radius:  0 0 10px 10px;
  padding: 13px 14px;
  box-sizing: border-box;
}

.item__name{
  width: 225px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family: 'Roboto';
}

.item__wrraper {
  display: flex;
  margin: 7px 0 0 0;
  justify-content: space-between;
}

/* .item__conteiner{
  margin-right: 5px;
} */

.item__text{
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #21a038;
  font-family: 'Inter';
}

.item__price{
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  color: #21a038;
  font-family: 'Inter';
}

.item__action {
  display: flex;
}

.item__like {
  all: unset;
  cursor: pointer;
}

.item__basket{
  width: 115px;
  height: 41px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 7px 8px;
  margin-left: 15px;
  background: #21a038;
  cursor: pointer;
  border: #21a038;
}

.item__basket_text {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
  margin: 0 0 0 8px;
  font-family: 'Roboto';
}

.items__more {
  margin-top: 20px;
  width: 100%;
  height: 47px;
  border: 2px solid #21a038;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.items__more_text {
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  color: #21a038;
  font-family: 'Roboto';
}

.items__buttons{
  margin: 20px auto 0;
  width: 348px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items__button_left {
  all: unset;
  cursor: pointer;
  margin-right: 15px;
  width: 9px;
  height: 17px;
  background-image: url(/images/Vector_left.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.items__button_number{
  width: 50px;
  height: 40px;
  border: 2px solid #A9A9A9;
  border-right: 0;
  background-color: transparent;
  cursor: pointer;
}

.items__button_number_first {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.items__button_number_last {
  border-right: 2px solid #A9A9A9;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.items__button_number_active {
  border: 3px solid #21a038;
}

.items__button_number_text{
  color: #A9A9A9;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  font-family: 'Roboto';
}

.items__button_number_text_active {
  color: #21a038;
}

.items__button_right {
  all: unset;
  cursor: pointer;
  margin-left: 15px;
  width: 9px;
  height: 17px;
  background-image: url(/images/Vector_right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.items__button_left_disabled {
  background-image: url(/images/Vector_left_disabled.png);
  cursor: default;
}
.items__button_right_disabled {
  background-image: url(/images/Vector_right_disabled.png);
  cursor: default;
}

/** DETALIS **/

.detalis {
  width: 1214px;
  margin: 45px auto 0;
}

.detalis__title {
  margin: 0;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  font-family: 'Roboto';
}

.detalis__info {
  margin-top: 45px;
  display: flex;
}

.detalis__container {
  width: 532px;
}

.detalis__image {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  background-color: #21a038;
}

.detalis__wrraper {
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: space-between;
}

.detalis__button_show {
  all: unset;
  cursor: pointer;
  display: flex;
  width: 190px;
  background-image: url(/images/Show_3D.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: end;
}

.detalis__button_show_text {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #209C36;
  margin-left: 10px;
  font-family: 'Futura';
}

.detalis__button_like {
  display: flex;
  background-color: #209C36;
  border-radius: 10px;
  width: 156px;
  height: 43px;
  align-items: center;  
  justify-content: center;
  border: none;
  background-image: url(/images/Like_white.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;
}

.detalis__button_like_text {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
  margin-left: 15px;
  font-family: 'Roboto';
}

.detalis__description {
  margin: 20px 0 0 52px;
}

.detalis__description_text {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  width: 227px;
  font-family: 'Roboto';
}

.detalis__description_margin {
  margin-bottom: 20px;
  font-weight: 600;
}

.detalis__description_image {
  margin: 10px 0 0 -15px;
}

.detalis__price {
  position: relative;
  margin-left: 8px;
  width: 397px;
  height: 394px;
}

.detalis__price_buy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 244px;
  box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.5);
  border-radius: 15px;
  padding: 38px 30px 26px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 10;
}

.detalis__price_buy_wrraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detalis__price_buy_title {
  font-size: 37px;
  font-weight: 700;
  line-height: 43px;
  font-family: 'Inter';
}

.detalis__price_buy_width{
  width: 93px;
}

.detalis__price_buy_margin {
  margin-top: 11px;
}

.detalis__price_buy_like {
  all: unset;
  cursor: pointer;
}

.detalis__price_buy_text {
  font-size: 23px;
  font-weight: 500;
  line-height: 27px;
}

.detalis__price_buy_subtitle{
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #21a038;
  font-family: 'Roboto';
}

.detalis__price_button {
  width: 100%;
  height: 41px;
  background-color: #21a038;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}

.detalis__price_button_color{
  background-color: transparent;
  border: 1px solid #21a038;
}

.detalis__price_button_text{
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
  margin: 0 0 0 9px;
  font-family: 'Roboto';
}

.detalis__price_button_text_color {
  color: #21a038;
}

.detalis__price_info {
  width: 395px;
  height: 165px;
  border: 2px solid #21a038;
  border-radius: 0 0 15px 15px;
  border-top: 0;
  padding: 30px 0 25px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.detalis__price_info_text{
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin: 0 0 10px 0;
  font-family: 'Inter';
}

.detalis__price_info_text:last-of-type {
  margin-bottom: 0;
}

.detalis__price_info_text_weight {
  font-weight: 700;
}

.detalis__navigator{
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 130px);
}

.detalis__navigator_button {
  width: 135px;
  height: 57px;
  border: 1px solid #21a038;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalis__navigator_button_width {
  width: 200px;
}

.detalis__navigator_button_active {
  background-color: #21a038;
}

.detalis__navigator_text {
  font-size: 15px;
  font-weight: 700;
  line-height: 17;
  color: #1D1D1B;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}

.detalis__navigator_text_active {
  color: #ffffff;
}

.detalis__show{
  margin: 55px 0 0 0;
  position: relative;
}

.detalis__show_button_left{
  position: absolute;
  top: 250px;
  left: 0;
  width: 56px;
  height: 86px;
  background-color: rgba(33, 160, 56, 0.49);
  border-radius: 0 8px 8px 0;
  border: 0;
  cursor: pointer;
}

.detalis__show_button_right{
  position: absolute;
  top: 250px;
  right: 0;
  width: 56px;
  height: 86px;
  background-color: rgba(33, 160, 56, 0.49);
  border-radius: 8px 0 0 8px;
  border: 0;
  cursor: pointer;
}

.detalis__swipe {
  width: 222px;
  height: 22px;
  margin: 35px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detalis__swipe_circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.detalis__swipe_circle_active {
  background-color: #21a038;
}



/** BASKET**/


.basket {
  max-width: 1214px;
  margin: 40px auto 0;
}

.basket__title {
  display: flex;
  align-items: flex-end;
}

.basket__title_text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  font-family: 'Roboto';
}

.basket__title_quantity {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #21a038;
  margin-left: 6px;
  font-family: 'Roboto';
}

.basket__content {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
}

.basket__items_content {
  width: 850px;
}

.basket__items_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket__items_title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  font-family: 'Roboto';
}

.basket__items_clear {
  all: unset;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.basket__items_clear_text {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin-right: 10px;
  font-family: 'Roboto';
}

.basket__item {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  padding: 0 25px 0 0;
  box-sizing: border-box;
}

.basket__item_text {
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  width: 293px;
  margin: 20px 0 0 22px;
  font-family: 'Roboto';
}

.basket__item_quantity {
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin-top: 22px;
}

.basket__item_button {
  all: unset;
  cursor: pointer;
}

.basket__item_quantity_text {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  font-family: 'Roboto';
}

.basket__item_quantity_sum {
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #727272;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
}

.basket__item_price {
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  color: #21a038;
  margin: 22px 0 0 0;
  font-family: 'Inter';
}

.basket__item_delete {
  all: unset;
  width: 6px;
  height: 6px;
  cursor: pointer;
  margin: 22px 0 0 0;
}

.basket__buy {
  margin: 45px 0 0 0;
  width: 350px;
  height: 215px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  padding: 24px 27px;
  box-sizing: border-box;
}

.basket__buy_total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.basket__buy_title {
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  font-family: 'Inter';
}

.basket__buy_sum {
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  color: #21a038;
  font-family: 'Inter';
}

.basket__buy_button {
  width: 100%;
  height: 36px;
  background-color: #21a038;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 45px 0 0;
}

.basket__buy_button:hover {
  border: 2px solid #21a038;
  background-color: transparent;
  color: #21a038;
}

.basket__buy_button_white {
  border: 2px solid #21a038;
  margin-top: 11px;
  background-color: transparent;
}

.basket__buy_button_white:hover {  
  background-color: #21a038;
  border: none;
}

.basket__buy_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}

.basket__buy_text:hover {
  color: #21a038;
}

.basket__buy_text_green {
  color: #21a038;
}

.basket__buy_text_green:hover {
  color: #fff;
}

/* Каталог */
.dropdown-catalog-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: inset 0px -4px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 18px 18px 18px 22px;
  border-radius: 0 10px 10px 10px;
  top: 50px;
  left: 0;
  z-index: 12;
}
.dropdown__catalog:hover .dropdown-catalog-content {
  display: block;
}

.dropdown-catalog {
  all: unset;
  width: 230px;
  height: 55px;
  margin: 0;
  color: #21a038;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Inter';
}

.dropdown-catalog:hover {
  font-size: 18px;
}

.dropdown-catalog_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-catalog_quantity {
  min-width: 30px;
  height: 18px;
  border: 1px solid #7C7C7C;
  margin-left: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-catalog_quantity_text {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: #818181;
  font-family: 'Roboto';
}

/** Registration **/

.registration {
  width: 714px;
  margin: 45px auto 0;
}

.registration__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.registration__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.registration__input {
  width: 341px;
  height: 26px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #21a038;
  outline:none;
  font-size: 17px;
  font-weight: 400;
  line-height: 1px;
  color: #000;
  font-family: 'Roboto';
}

.registration__input::placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 1px;
  color: #000;
  font-family: 'Roboto';
}

.registration__input_margin {
  margin-bottom: 30px;
}

.registration__wrapper {
  display: flex;
  margin: 45px 0;
}

.registration__checkbox {
  display: none;
}

.registration__checkbox + label {
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
}

.registration__checkbox + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border: 2px solid #21a038;
  border-radius: 6px;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.registration__checkbox:checked + label::before {
  background-color: #21a038;
  border-color: #21a038;
}

.registration__checkbox:checked + label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: -2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.registration__button {
  all: unset;
  cursor: pointer;
  width: 212px;
  height: 48px;
  background-color: #21a038;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Roboto';
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 70px;
}

.products__sorted {
  position: relative;
}

.sorted-container{
  display: none;
  position: absolute;
  width: 263px;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  box-sizing: border-box;
  top: 30px;
  right: 0;
  background-color: #fff;
}

.sorted-container_botton {
  all: unset;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-family: 'Roboto';
  margin-bottom: 15px;
}

.sorted-container_botton:last-of-type {
  margin: 0;
}

.products__sorted:hover{
  .sorted-container{
    display: block;
  }
}

/** Суб-каталог **/

.subcatalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));
  margin: 27px 0 0;
  column-gap: 24px;
  row-gap: 30px;

}

.subcatalog__item {
  background-color: #21a038;
  width: 176px;
  height: 147px;
  border-radius: 10px;
  position: relative;
}

.subcatalog__info {
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: 2;
}

.subcatalog__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  font-family: 'Roboto';
  color: #fff;
}

.subcatalog__subtitle {
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  font-family: 'Roboto';
  color: #fff;
  margin: 10px 0 0;
}

.subcatalog__image {
  width: 100%;
  height: auto;
}