.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.home {
  width: 1214px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .home {
    width: calc(100% - 40px);
  }
}

.home__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 550px) {
  .home__wrapper {
    flex-direction: column;
  }
}

.home__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  font-family: 'Roboto';
}

@media (max-width: 400px) {
  .home__title {
    font-size: 25px;
  }
}

.home__title_link {
  display: flex;
  align-items: center;
}

.home__title_subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  font-family: 'Roboto';
  margin: 0 10px 0 0;
}

.home_svg {
  transform: rotate(180deg);
}

.home__partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  margin-top: 50px;
  overflow-x: auto;
  position: relative;
  padding-bottom: 10px;
}

.home__partners::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(33, 160, 56, .1); 
  border-radius: 10px;
}

.home__partners::-webkit-scrollbar-thumb {
  background-color: #21A038;
  border-radius: 10px;
}

.home__partners::-webkit-scrollbar-track {
  background-color: rgba(33, 160, 56, .1);
  border-radius: 10px;
}

.home_categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 27px 0 40px;
  grid-column-gap: 24px;
  column-gap: 24px;
  grid-row-gap: 30px;
  row-gap: 30px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.home_categories::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(33, 160, 56, .1); 
  border-radius: 10px;
}

.home_categories::-webkit-scrollbar-thumb {
  background-color: #21A038;
  border-radius: 10px;
}

.home_categories::-webkit-scrollbar-track {
  background-color: rgba(33, 160, 56, .1);
  border-radius: 10px;
}

.home__products_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 10px;
  width: 1214px;
  margin: 45px auto 20px;
}   

@media (max-width: 1250px) {
  .home__products_list {
    width: 100%;
    gap: 20px;
  }
}
            
@media (max-width: 900px) {
  .home__products_list {
    width: calc(100% - 80px);
  }
}
            
@media (max-width: 760px) {
  .home__products_list {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  }
}
            
@media (max-width: 460px) {
  .home__products_list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 3px;
  }
}

.home_button {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 2px solid #21A038;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  font-family: 'Roboto';
  color: #21A038;
  margin-bottom: 50px;
}

.projects {
  display: flex;
  gap: 20px;
}

.item_image {
  flex: 1;
  position: relative;
  max-height: 380px;
  width: 100%;
  overflow: hidden;
}


.item_image_img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.list_images {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  row-gap: 20px;
  grid-column-gap: 20px;
  column-gap: 20px;
}

.list_images_img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

.description{
  position: absolute;
  bottom: 0;
  height: 70px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.description_category {
  font-size: 15px;
  color: #BDBDBD;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 17px;
}

.description_name {
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 17px;
}

.description_small {
  position: absolute;
  bottom: 0;
  height: 70px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.description_category_small {
  font-size: 10px;
  color: #BDBDBD;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 17px;
}

.description_name_small {
  font-size: 12px;
  color: white;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 17px;
}

.videos {
  overflow-x: auto;
  padding-bottom: 10px;
}

.videos::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(33, 160, 56, .1);
  border-radius: 10px;
}

.videos::-webkit-scrollbar-thumb {
  background-color: #21A038;
  border-radius: 10px;
}

.videos::-webkit-scrollbar-track {
  background-color: rgba(33, 160, 56, .1);
  border-radius: 10px;
}


@media (max-width: 1250px) {
  .projects {
    gap: 20px;
  }
  .list_images {
    grid-row-gap: 20px;
    row-gap: 20px;
    grid-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (max-width: 900px) {
  .projects {
    gap: 15px;
  }
  .list_images {
    grid-row-gap: 15px;
    row-gap: 15px;
    grid-column-gap: 15px;
    column-gap: 15px;
  }
}

@media (max-width: 760px) {
  .projects {
    gap: 10px;
  }
  .list_images {
    grid-row-gap: 10px;
    row-gap: 10px;
    grid-column-gap: 10px;
    column-gap: 10px;
  }

  .description_small {
    padding: 0 5px;
    margin-bottom: 10px;
    height: 50px;
  }
  .description_name_small {
    font-size: 13px;
  }
  .description {
    padding: 0 10px;
    margin-bottom: 15px;
    height: 40px;
  }
  .description_name {
    font-size: 15px;
  }
  .item_image_img {
    border-radius: 8px;
  }
  .list_images_img {
    border-radius: 8px;
  }
}

@media (max-width: 460px) {
  .projects {
    gap: 5px;
    flex-direction: column;
  }
  .list_images {
    grid-row-gap: 5px;
    row-gap: 5px;
    grid-column-gap: 5px;
    column-gap: 5px;
  }
}
