.buy {
  width: calc(100% - 100px);
  margin: 20px auto 0;
}

@media (max-width: 1250px) {
  .buy {
    width: calc(100% - 40px);
  }
}

.title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

@media (max-width: 720px) {
  .title {
    font-size: 25px;
  }
}

.contain {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: width 0.5s ease-in-out;
}

@media(max-width: 1500px) {
    .contain{
        width: 65%;
    }
}

@media(max-width: 1000px) {
    .contain{
        width: 100%;
    }
}

.grid {
  max-width: 100%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  margin-bottom: 50px;
  transition: grid-template-columns 0.5s ease-in-out, 
              gap 0.5s ease-in-out;
}

@media(max-width: 1000px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 55%;
        transition: width 0.5s ease-in-out;;
    }
}

@media(max-width: 720px) {
    .grid{
        width: 100%;
    }
}

.input {
  padding: 14px;
  border: none;
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 1);
  color: rgba(141, 141, 141, 1);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.input:focus {
  outline: none;
}

.wrapper {
  display: flex;
  margin-top: 30px;
  gap: 15px;
  position: relative;
  justify-content: space-between;
}

@media(max-width: 720px) {
    .wrapper{
        flex-direction: column;
    }
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

@media(max-width: 400px) {
    .buttons{
        flex-direction: column;
    }
}

.button {
  display: flex;
  gap: 5px;
  padding: 15px;
  min-width: 205px;
  align-items: center;
  border-radius: 4px;
}

@media(max-width: 500px) {
    .button{
        min-width: 48%;
    }
}

@media(max-width: 400px) {
    .button{
        justify-content: center;
    }
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button_title {
  color: rgba(39, 35, 35, 1);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.button_subtitle {
  color: rgba(39, 35, 35, 1);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.address {
  color: rgba(39, 35, 35, 1);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-top: 20px;
}

.address:last-of-type {
    margin-top: 5px;
}

.map {
    width: 100%;
    height: 360px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 50px;
}

.total {
  display: flex;
  flex-direction: column;
  width: 285px;
  border-radius: 10px;
  box-sizing: border-box;
  gap: 20px;
  transition: width 0.5s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1000px) {
  .total {
    width: 42%;
  }
}

@media (max-width: 720px) {
  .total {
    position: static;
    width: 100%;
  }
}

.total_total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  font-family: "Montserrat";
}

.total_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.total_contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots {
  flex-grow: 1;
  overflow: hidden;
  color: rgba(39, 35, 35, 1);
  letter-spacing: 2px;
  font-size: 14px;
  white-space: nowrap;
}

.total_subtitle {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgba(39, 35, 35, 1);
  text-wrap: nowrap;
}

.total_button {
  width: 100%;
  height: 45px;
  background-color: #21a038;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.total_button:hover {
  border: 2px solid #21a038;
  background-color: transparent;
  color: #21a038;
}

.total_text {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
}