.footer {
    width: 100%;
  }

.footer a {
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer a:hover,
.footer a:hover .contact_text,
.footer a:hover .info_title,
.footer a:hover .info_text {
  color: rgba(33, 160, 56, 1);
}
  
  .container {
    max-width: calc(100% - 100px);
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1250px) {
    .container {
      max-width: 100%;
      margin-inline: 20px;
    }
  }
    
  @media (max-width: 950px) {
    .container {
      flex-wrap: wrap;
    }
  }
    
  @media (max-width: 700px) {
    .container {
      flex-direction: column;
      gap: 20px;
    }
  }

  .info {
    width: 341px;
  }
      
  @media (max-width: 950px) {
    .info {
      margin-top: 20px;
    }
  }
      
  @media (max-width: 700px) {
    .info {
      margin-top: 0;
      width: 100%;
    }
  }
  
  .contact{
    position: relative;
  }
    
  @media (max-width: 1350px) {
    .contact {
      width: 240px;
    }
  }
    
  @media (max-width: 700px) {
    .contact {
      width: 100%;
    }
  }
    
  @media (max-width: 550px) {
    .contact {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  .contact_wrraper{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact_text{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 247px;
    font-family: 'Montserrat';
  }
  
  .contact_text:last-child{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    max-width: 320px;
    font-family: 'Roboto';
  }
      
  @media (max-width: 1250px) {
    .contact_text {
      font-size: 16px;
    }
  }
      
  @media (max-width: 700px) {
    .contact_text {
      max-width: 100%;
     }

    .contact_text:last-child {
      max-width: 100%;
    }
  }
  .contact_social{
    margin: 20px 0 0;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .contact_social a {
    transition: opacity 0.2s ease-in-out;
  }

  .contact_social a:hover {
    opacity: 0.7;
  }
        
  @media (max-width: 550px) {
    .contact_social {
      gap: 20px;
      justify-content: left;
      margin-top: 0;
    }
  }
        
  @media (max-width: 420px) {
    .contact_social {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  .contact_icon{
    cursor: pointer;
  }

  .contact__link {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-family: 'Roboto';
    color: rgba(39, 35, 35, 1);
    text-decoration: underline;
  }
  
  .contact_text_last {
    margin-top: 30px;
    width: 221px;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #A3A3A3;
  }
          
  @media (max-width: 1250px) {
    .contact_text_last {
      font-size: 16px;
      margin-top: 25px;
    }
  }
  
  .wrraper{
    width: 40%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
            
  @media (max-width: 1550px) {
    .wrraper{
      width: 45%;
    }
  }

  @media (max-width: 1350px) {
    .wrraper{
      width: 49%;
    }
  }

  @media (max-width: 1250px) {
    .wrraper{
      justify-content: space-around;
      width: 40%;
    }
  }

  @media (max-width: 950px) {
    .wrraper{
      justify-content: space-between;
      width: 50%;
    }
  }

  @media (max-width: 700px) {
    .wrraper{
      flex-direction: column;
      gap: 20px;
    }
  }
  
  .info_title{
    margin: 0;
    color: rgba(39, 35, 35, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    font-family: 'Montserrat';
  }
              
  @media (max-width: 460px) {
    .info_title{
      font-size: 20px;
    }
  }

  .info__subtitle {
    color: rgba(33, 160, 56, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-family: 'Montserrat';
  }
  
  .info_wrraper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
                  
  @media (max-width: 460px) {
    .info_wrraper{
      margin-top: 25px;
    }
  }
  
  .info_text{
    margin: 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Roboto';
  }
                
  @media (max-width: 460px) {
    .info_text{
      font-size: 14px;
    }
  }

  @media (max-width: 1250px) {
    .info_text {
      font-size: 16px;
    }
  }

  @media(max-width: 1250px) {
    .catalog{
      display: none;
    }
  }