.loading_block {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #d1d1d1;
    }
    100% {
        background-color: #e0e0e0;
    }
}

.shimmer_loading {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
}

.shimmer_loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgba(230, 230, 230, 0.8) 50%, rgba(255, 255, 255, 0) 75%);
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}


.loading_card {
    width: 300px;
    height: 150px;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.loading_title {
    width: 60%;
    height: 20px;
    background-color: #e0e0e0;
    margin-bottom: 15px;
    border-radius: 4px;
}

.loading_text {
    width: 80%;
    height: 15px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
    border-radius: 4px;
}

.loading_card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgba(230, 230, 230, 0.8) 50%, rgba(255, 255, 255, 0) 75%);
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}


.loading_text_block {
    width: 100%;
    height: 20px;
    position: relative;
    background-color: #e0e0e0;
    overflow: hidden;
    border-radius: 3px;
}

.loading_text_block::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgba(230, 230, 230, 0.8) 50%, rgba(255, 255, 255, 0) 75%);
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}

.loading_circle {
    border: 5px solid #f3f3f3; /* Светлый фон */
    border-top: 5px solid #1fa038; /* Цвет загрузки */
    border-radius: 50%; /* Сделать кругом */
    width: 20px; /* Диаметр круга */
    height: 20px; /* Диаметр круга */
    animation: spin 2s linear infinite; /* Анимация вращения */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.loading_table_row {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 10px;
}

.loading_table_row::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgba(230, 230, 230, 0.8) 50%, rgba(255, 255, 255, 0) 75%);
    animation: shimmer 1.5s infinite linear;
}

.loading_table_row_column {
    width: 60%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 4px;
}

.loader_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #21a038;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}