.catalog {
    max-width: 1920px;
    margin-inline: 50px;
}

@media(max-width: 1250px) {
    .catalog {
        margin-inline: 20px;
    }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(314px, 440px));
    gap: 20px;
}


@media(max-width: 1100px) {
    .list {
        flex-wrap: wrap;
    }
}