.dashboar {
  display: flex;
  /* max-width: 1920px; */
  width: 100%;
  /* height: 77px; */
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  top: 0;
  background-color: rgb(255 255 255 / 66%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  justify-content: space-between;
  padding-inline: 50px;
  padding-top: 40px;
}

@media (max-width: 1250px) {
  .dashboar {
    width: 100%;
    padding-inline: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@media (max-width: 950px) {
  .dashboar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 820px) {
  .dashboar_wrapper {
    height: 60px;
  }

  .dashboar {
    margin-top: 0;
  }
}

.logo__small {
  display: none;
}

@media (max-width: 1250px) {
  .logo {
    width: 145px;
    height: 33px;
  }
}

@media (max-width: 820px) {
  .logo {
    margin-right: 188px;
  }
}

@media (max-width: 710px) {
  .logo {
    margin-right: 0;
  }
}

/* @media (max-width: 440px) {
    .logo {
      display: none;
    }

    .logo__small {
      display: block;
    }
  } */

.wrapper {
  display: flex;
  gap: 20px;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 1250px) {
  .location {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .location {
    display: none;
  }
}

.location__icon {
  width: 14px;
  height: 18px;
}

.location__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Montserrat";
}

/* @media (max-width: 900px) {
  .location__icon {
    width: 17px;
    height: 22px;
  }

  .location__text {
    display: none;
  }

  .location__vector {
    display: none;
  }
} */

.number {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 1250px) {
  .number {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .number {
    display: none;
  }
}

.number__text {
  /* width: 111px; */
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Montserrat";
}

.number__icon {
  width: 20px;
  height: 20px;
}

.search__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-inline: 50px;
}

.search {
  /* margin-left: 47px; */
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 1250px) {
  .search {
    margin-left: 0;
  }
}

.icons {
  display: flex;
  gap: 20px;
}

.search_input {
  background-color: rgba(245, 245, 245, 1);
  border: none;
  border-radius: 5px 0 0 5px;
  height: 46px;
  max-width: 590px;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #0a0a0a;
  font-family: "Montserrat";
  z-index: 50;
}

.search_input:focus {
  outline: none;
}

.search_input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Montserrat";
}

@media (max-width: 1250px) {
  .search_input {
    max-width: 245px;
  }
}

.search_input_mobile {
  background-color: white;
  border: 2px solid #21a038;
  height: 53px;
  padding-left: 10px;
  padding-right: 37px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #0a0a0a;
  font-family: "Montserrat";
  z-index: 1000;
  width: 100%;
}

.search_input_mobile:focus {
  outline: none;
  border: 2px solid #21a038;
}

.search_input_mobile::placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Montserrat";
}

.mobile_search_container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.mobile_search_close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  font-size: 25px;
  height: 60px;
  width: 53px;
}

.search__button {
  margin-left: -3px;
  width: 58px;
  height: 33px;
  background-color: #21a038;
  border-radius: 5px;
  border-color: #21a038;
  border-style: solid;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  font-family: "Montserrat";
  z-index: 50;
}

.search__button:hover {
  background-color: #ffffff;
  color: #21a038;
}

.search__button_stick {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 33px;
  background-color: #21a038;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  border: none;
}

.search__button_stick:hover {
  background-color: #128928;
}

.search__icon {
  display: none;
}

@media (max-width: 820px) {
  .search_input {
    display: none;
  }

  .search__button {
    display: none;
  }

  .search__icon {
    display: block;
  }
}

.user {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1250px) {
  .user {
    margin-left: 0;
    flex-direction: column;
    justify-content: center;
  }
}

.user__text {
  color: rgba(39, 35, 35, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  font-family: "Montserrat";
}

@media (max-width: 1250px) {
  .user__text {
    margin: 5px 0 0;
  }

  .user__icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 820px) {
  .user__text {
    display: none;
  }

  .user__icon {
    width: 26px;
    height: 26px;
  }
}

.dashboar__basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .dashboar__basket {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

.dashboar__basket_container {
  margin: 0 0 0 12px;
}

@media (max-width: 1250px) {
  .dashboar__basket_container {
    margin: 5px 0 0;
  }
}

.dashboar__bascet_text {
  margin: 0;
  color: rgba(39, 35, 35, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  font-family: "Montserrat";
}

.dashboar__bascet_info {
  color: #21a038;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  margin: 0;
  font-family: "Montserrat";
}

.dashboar__bascet_info_mini {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #21a038;
  display: flex;
  position: absolute;
  top: 0;
  right: 27px;
}

/* @media (max-width: 1250px) {
  .dashboar__bascet_info_mini {
    display: flex;
  }

  .dashboar__bascet_info {
    display: none;
  }

  .dashboar__bascet_info_mini_text {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
    font-family: "Montserrat";
    color: #fff;
  }

  .dashboar__bascet_info_mini {
    width: 18px;
    height: 18px;
    right: -5px;
    top: -7px;
  }
} */

@media (max-width: 820px) {
  .dashboar__bascet_text {
    display: none;
  }

  .dashboar__bascet_icon {
    width: 24px;
    height: 24px;
  }
}

.dashboar__menu {
  display: none;
}

@media (max-width: 950px) {
  .dashboar__menu {
    all: unset;
    cursor: pointer;
    display: block;
    padding: 5px 7px;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.navigator__wrapper {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.navigator {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 1250px) {
.navigator__wrapper {
  width: 100%;
}
}

@media (max-width: 950px) {
  .navigator {
    display: none;
  }
  .navigator__wrapper {
    justify-content: flex-end;
  }
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.navigator__container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  width: auto;
  gap: 5px;
}

/* .navigator__container.navigator__container_active {
background-color: #118c28;
}

.navigator__container.navigator__container_active:last-of-type {
border-radius: 0 5px 5px 0;
}

.navigator__container_white {
background-color: #ffffff;
padding-left: 16px;
padding-right: 20px;
box-sizing: border-box;
width: 135px;
height: 50px;
border: 3px solid #21a038;
border-radius: 5px;
}

.navigator__container_white:hover {
border: none;
box-shadow: inset 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
border-radius: 5px  5px 0 0;
height: 53px;
padding-left: 22px;
} */

.navigator__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(39, 35, 35, 1);
  margin: 0;
  font-family: "Montserrat";
}

.navigator__container .navigator__text:hover {
  color: rgba(33, 160, 56, 1);
}

.dropdown_catalog_content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: inset 0px -4px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 18px 18px 18px 22px;
  border-radius: 0 10px 10px 10px;
  top: 50px;
  left: 0;
  z-index: 12;
}

.dropdown__catalog:hover .dropdown_catalog_content {
  display: block;
}

.dropdown_green {
  display: none;
  width: 216px;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #39b34f;
  z-index: 12;
}

.dropdown__catalog:hover .dropdown_green {
  display: block;
}

.dropdown_green_wrapper {
  width: 100%;
  height: 50px;
  cursor: pointer;
  padding: 15px 20px;
  box-sizing: border-box;
}

.dropdown_green_text {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}

.dropdown_green_wrapper:hover .dropdown_green_text {
  font-size: 17px;
}

.dropdown_green_text.dropdown_green_text_active {
  font-size: 17px;
}

.suggestions_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
  margin-top: -5px;
  padding-top: 10px;
  z-index: 51;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.suggestions_list_container {
  padding-left: 10px;
  padding-right: 10px;
  height: 252px;
  overflow-y: auto;
}

.suggestion_item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.suggestion_item:hover {
  background: #f0f0f0;
}

.suggestion_item_image_container {
  width: 75px;
  height: 37px;
  position: relative;
  background-color: green;
  border-radius: 8px;
}

.suggestion_item_image {
  width: 100%;
  height: auto;
}

.suggestion_text_container {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  z-index: 52;
}

.burger {
  width: 385px;
  height: 100vh;
  background-color: #21a038;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 53;
  overflow-y: auto;
}

@media (max-width: 675px) {
  .burger {
    width: 300px;
  }
}

@media (min-width: 950px) {
  .burger {
    display: none;
  }
}

.burger_close {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 54;
}

.burger_nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  gap: 20px;
}

@media (max-width: 420px) {
  .burger_nav {
    margin-top: 80px;
  }
}

@media (max-height: 750px) {
  .burger_nav {
    margin-top: 50px;
  }
}

.burger_link {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 20px;
}

.burger_contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.burger_wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.burger_text {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 20px;
  color: #fff;
}

.burger_basket {
  position: relative;
  margin-right: 5px;
}

.burger_basket_wrapper {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger_basket_text {
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 14px;
  color: #128928;
}
