.lk_dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  border-radius: 10px;
}

.menu_items {
  /* max-height: 0; */
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  transition: max-height 0.3s ease;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 550px) {
  .menu_items {
    flex-direction: column;
    align-items: flex-start;
  }
}

.lk_dashboard__exit {
  all: unset;
  border-radius: 0 0 10px 10px;
}

.lk_dashboard__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.lk_dashboard__button:hover {
  color: #21a038;
}

.lk_dashboard__icon {
  color: #5a5a5a;
  margin-right: 5px;
}

.lk_dashboard__button:hover .lk_dashboard__icon {
  color: #21a038;
}

.lk_dashboard__button.active .lk_dashboard__icon {
  color: #21a038;
}

.lk_dashboard__button.active {
  color: #21a038;
}

.lk_dashboard__button.active__first .lk_dashboard__icon {
  color: #21a038;
}
