.navigator__wrapper{
    display: flex;
    max-width: calc(100% - 100px);
    margin: 20px auto 0;
  }

  @media (max-width: 1250px) {
    .navigator__wrapper {
      max-width: calc(100% - 40px);
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  .navigator__back{
    display: flex;
    margin-right: 15px;
  }
  
  .navigator__back_button{
    all: unset;
    cursor: pointer;
  }
  
  .navigator__back_text{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 0 0 7px;
    cursor: pointer;
    font-family: 'Montserrat';
    color: rgba(39, 35, 35, 1);
  }

  .not_active_history_link{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    font-family: 'Montserrat';
      text-decoration: none;
      text-underline-offset: 4px;
  }
  
  .active_history_link{
    all: unset;
    color: rgba(141, 141, 141, 1);
  }