.projects {
  width: calc(100% - 100px);
  margin: 20px auto 0;
}

@media (max-width: 1250px) {
  .projects {
    margin-inline: auto;
    max-width: calc(100% - 40px);
  }
}

.title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.filter {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter_button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.filter_button_active {
  color: #21a038;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .items {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
}

@media (max-width: 570px) {
  .items {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  pointer-events: none;
  border-radius: 5px;
} */

.item_image {
  width: 100%;
  height: 440px;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .item_image {
    height: 310px;
  }
}

@media (max-width: 570px) {
  .item_image {
    height: 210px;
  }
}

.item_description {
  width: 100%;
  margin-top: 10px;
}

.item_title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgba(39, 35, 35, 1);
}

@media (max-width: 900px) {
  .item_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
  }
}

.item_subtitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(39, 35, 35, 1);
}

.mobileFilterWrapper {
  display: none;
  position: relative;
  width: 100%;
}

.mobileFilterButton {
  all: unset;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 20px;
}

.mobileFilterArrow {
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 12px;
  height: 24px;
}

.arrow_open {
  transform: rotate(180deg);
}

.mobileFilterDropdown {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  margin-top: 5px;
  background: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.5);
  z-index: 100;
  overflow-y: auto;
}

.mobileFilterOption {
  all: unset;
  cursor: pointer;
  padding: 8px 10px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  width: 100%;
  text-align: left;
  display: block;
  height: 40px;
}

.mobileFilterOption:hover {
  background-color: #f5f5f5;
}

.mobileFilterOptionActive {
  /* background-color: #21a038; */
  color: #21a038;
}

/* Адаптация */
/* @media (max-width: 500px) {
  .filter {
    flex-direction: column;
    gap: 10px;
  }

  .filter_button {
    display: none;
  }

  .mobileFilterWrapper {
    display: flex;
  }
} */
